* {
    all: unset;
    font-family: "Inter";
}

.bar {
    background-color: #0f0f0f;
    padding: 0.5em 1.2em;
}

.bar .clock {
    font-weight: 700;
}

.active-ws {
    color: #5baaea;
}

.launcher {
    background-color: #0f0f0f;
}

.launcher .entry {
    padding: 1em;
    background-color: #1f1f1f;
}

